/* Background Image Styles */
.bg-image {
    background-image: url('/images/landing-background.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Text Overlay Styles */
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 5px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

/* Lead Text Styles */
.lead {
    font-weight: bold;
    font-size: 1.0rem;
}

/* Body and Layout Styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 56px; /* Bootstrap navbar height */
}

/* Content Flexibility */
.content {
    flex: 1;
}

/* Footer Styles */
footer {
    background-color: #343a40;
    color: white;
    font-size: 10px;
}

/* Starter Template Styles */
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

/* Extra spacing from navbar for the content */
.content-spacing {
    padding-top: 30px; /* Add some padding instead of margin for top space */
}

/* Custom styles for read-only input */
.readonly-input {
    background-color: #f5f5f5; /* Light gray background */
    color: #6c757d; /* Gray text color */
}

td {
     white-space: nowrap;
}