<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>

    <h3>User Login</h3>

    <hr>
    <br><br>
    <form action="#" th:action="@{/authenticateUser}" method="post">

        <p>
            Username: <input type = "text" name="username" />
        </p>

        <p>
            Password: <input type = "password" name="password" />
        </p>

        <input type="submit" name="Login">






    </form>
    


    <br>

    <a th:href="@{/}">Return to home page</a>
    
</body>
</html>