<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration Form</title>
</head>
<body>

    <h3>User Registration Form</h3>

    <hr>

    <br><br>

    <form action="#" th:action="@{/api/register-user}" th:object="${webUser}" method="post">

        <p>
            User name: <input type="text" th:field="*{username}" name="username" />
        </p>
        <p>
            Password: <input type="password" th:field="*{password}" name="password" />
        </p>
        <p>
            First Name: <input type="text" th:field="*{firstName}" name="firstName" />
        </p>
        <p>
            Last Name: <input type="text" th:field="*{lastName}" name="lastName" />
        </p>
        <p>
            Email: <input type="email" th:field="*{email}" name="email" />
        </p>

        <br><br>

        <input type="submit" name="Register">

        <br>

        <a th:href="@{/}">Return to home page</a>




    </form>
    
</body>
</html>