<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>

    <h3>Welcome to the dashboard!</h3>

    <hr>
    <br>
    <P>
        Select an action
    </P>
    <a th:href="@{/create-task}">Add new task</a>
    <br>
    <a th:href="@{/deleteTask}">Delete task</a>
    <br><br>
    <form th:action="@{/logout}" method="post">
        <button type="sumbit">Logout</button>
    </form>
    
</body>
</html>