<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>

    <h1>Your Tasks</h1>

    <hr>
    <br><br>
    
    <table>
        <thead>
            <tr>
                <th>Task name</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.taskName}"></td>
                <td th:text="${task.startDate}"></td>
                <td th:text="${task.dueDate}"></td>
                <td th:text="${task.taskStatus ? 'Completed' : 'Pending'}"></td>
            </tr>
        </tbody>
    </table>

    
    <br>
    <P>
        Select an action
    </P>
    <a th:href="@{/create-task}">Add new task</a>
    <br>
    <a th:href="@{/deleteTask}">Delete task</a>
    <br><br>
    <form th:action="@{/logout}" method="post">
        <button type="sumbit">Logout</button>
    </form>
    
</body>
</html>